*{
    margin:0 px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: violet;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.bmi{
     background-color: antiquewhite;
     margin: 30px;
     padding:20px;
     border-radius:10px;
     width:400px;
     height: 420px;
}
.data{
   width:100%;
}
.con{
    padding:5px;
    margin:5px;
    text-decoration-thickness: 2px;
    display:flex;
}
h1{
   color:blueviolet;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    width:100%;
    font-size: 18px;
    border-radius: 5px 0px 0px 5px;
    border-color:violet;
    padding:5px 0px 0px 5px;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
select{
    display:flex;
    font-size: 15px;
    font-weight: 200px;
    border-color: violet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 0px 5px 5px 0px;
    padding:0px 5px 5px 0px;
}
option{
    border: 2px  violet;
    background-color: violet;
}
input:focus,select:focus{
    outline: 2px blueviolet;
}
#inputinweigthpounds{
    display:none;
}
#inputinHeigthin{
    display:none;
}
#inputinHeigthcmt{
    display:none;
}
#inputinHeigthfeets{
    display:none;
}



button{
    width:100%;
    border-radius: 20px;
    margin:30px,30px,30px,30px;
    padding: 20px;
    font-size:20px;
    color:antiquewhite;
    background-color: violet;
     border-color: blueviolet;
}
.result{
    border-top: 30px;
    padding: 30px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background-color: plum;
    display:none;
}
h2{
    color: blueviolet;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.measure{
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#sa{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
}